<div class="recommendations">

  <!-- Même catégorie -->
  <div class="rec-section" *ngIf="sameCategory.length > 0">
    <h3>📂 Dans la même catégorie</h3>
    <div class="rec-grid">
      <div class="rec-card" *ngFor="let p of sameCategory">
        <img [src]="p.imageUrl?.[0]?.url || ''" [alt]="p.name" />
        <div class="rec-info">
          <span class="rec-name">{{ p.name }}</span>
          <span class="rec-price">{{ p.price }} TND</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Prix similaire -->
  <div class="rec-section" *ngIf="similarPrice.length > 0">
    <h3>💰 Prix similaire</h3>
    <div class="rec-grid">
      <div class="rec-card" *ngFor="let p of similarPrice">
        <img [src]="p.imageUrl?.[0]?.url || ''" [alt]="p.name" />
        <div class="rec-info">
          <span class="rec-name">{{ p.name }}</span>
          <span class="rec-price">{{ p.price }} TND</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Best sellers
  <div class="rec-section" *ngIf="bestSellers.length > 0">
    <h3>🔥 Les plus vendus</h3>
    <div class="rec-grid">
      <div class="rec-card" *ngFor="let p of bestSellers">
        <img [src]="p.imageUrl ?.[0]?.url || ''" [alt]="p.name" />
        <div class="rec-info">
          <span class="rec-name">{{ p.name }}</span>
          <span class="rec-price">{{ p.price }} TND</span>
        </div>
      </div>
    </div>
  </div>-->

</div>